@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Golos+Text:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #B969D5;
    --color-secondary: #222347;
    --color-accent: #99F8B3;
    --color-dark: #05050A;
    --color-light: #DEE4FC;
    --color-primary-light: #DF58CD;
    --color-accent-light: #8AEED0;

    --font-heading: 'Golos Text', sans-serif;
    --font-text: 'Georama', sans-serif;
}

@layer base {
    body {
        color: var(--color-white);
        font-family: var(--font-text);
        font-weight: 300;
        background: var(--color-dark);
    }
}

details[open] .icon-minus .iconPlus {
    display: none;
}
details[open] .icon-minus .iconMinus {
    display: block;
}

.content-notas p {
    margin-bottom: 24px;
}

/* .swiper {
    position: relative !important;
    overflow: hidden !important;
} */
/* .swiper-wrapper {
    display: flex !important;
    transition: transform 0.3s ease !important;
} */
.swiper-slide {
    width: 100% !important;
    height: auto !important;
}
.swiper-pagination-bullet {
    background: var(--color-light) !important;
}
.swiper-pagination-bullet-active {
    background: var(--color-primary) !important;
}



/* MEDIA */
@media (min-width: 768px) {
    body {
        background: var(--color-dark) url(./img/hub-blur-01.svg) no-repeat left top / auto;
    }
}
